.breadcrumb {
	border-color: none;
	border-style: none; 
	border-width: 0 1px 4px 1px;
	background-color: transparent !important;
	padding: 0px;
	margin-bottom: 0px;
	list-style: none;
}

a.panel:hover * h3,
a.panel:hover div.panel-body h4{
	color:#fff !important;
}
.list-group-item .badge{
	margin-top:5px;
	margin-right:5px;

}
.jumbotron_body div.container div.row div p {
	color: #fff !important;
}
